@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About the Party</h1>

    <div style="background-color:orange;padding:10px;">
        <p><b><i>A wicked good time we have in store, for all brave souls who enter our doors. Eight o'clock on October 31st we'll play, but beware, mayhem and mischief surely will come our way.</i></b></p>
        
        <p>Come join us for our first annual Costumes and Cocktails Halloween Party! We will have a spooktacular evening of boos, booze, and boogying down. 
            Drinks and hors d'oeuvres will be served. Feel free to bring your tastiest food concoction to share. Costumes are required and the best costume will win a spooky surprise!
            We will also be having pumpkin carving stations set up with all materials will be provided.
        </p>

        <p>Friday, October 31st</p>   
        <p>8 PM till 12 AM</p>
        <p>The Haunted Mansion</p>
        <p>466 Spooky Willow Lane</p>
        <p>Halloweentown, FL 36626</p>    
    
        <p><b><i>Please RSVP by October 20th.</i></b></p>
    
    </div>
</div>
