@{
    ViewData["Title"] = "Gallery";
}

<div class="text-center">
    <h1 class="display-4">Gallery</h1>
    <br />

    <img src="~/css/cocktail.jpg" alt="Witches Brew" style="height:113px;width:150px;">
    <p><b>Witches Brew</b></p>
    <p>Come join us for delicious halloween inspired cocktails! We will have over 10 different types of spooky drinks for our guests to try.</p>
    <br />

    <img src="~/css/food.jpg" alt="Spooky Desserts" style="height:113px;width:150px;">
    <p><b>Spooky Desserts</b></p>
    <p>Feast your eyes on our spooky treats and feel free to bring your tastiest food concoction to share. </p>
    <br />

    <img src="~/css/costume.jpg" alt="Fun Costumes" style="height:113px;width:150px;">
    <p><b>Fun Costumes</b></p>
    <p>Costumes are mandatory! Come dressed to impress and the best costume will win a special prize.</p>
    <br />

    <img src="~/css/pumpkin.jpg" alt="Pumpkin Carving" style="height:113px;width:150px;">
    <p><b>Pumpkin Carving</b></p>
    <p>We'll have a wicked good time carving pumpkins! All carving materials will be provided, just bring your imagination!</p>
    <br />
</div>