@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">We're going to have an exciting party!</h1>
    <br />
    <h2>And YOU are invited!</h2>
    <br />
    <div class="btn btn-outline-primary">
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div> 
</div>
