@model GuestResponse
@{
    ViewData["Title"] = "Thanks";
}

<div class="text-center">
    <h1>Thank you, @Model.Name!</h1>
    <br />
    <p>It's great that you're coming. The drinks are already in the fridge!</p>
    <p>Click <a href="/Home/Guests">here</a> to see who is coming.</p>
</div>
